<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to the Pecuniator App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Go to the "Sandbox" tab to get started</p>
      </ion-card-content>
    </ion-card>
</ion-content>
