<ion-header>
  <ion-toolbar>
    <ion-title>
      Start
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to the Pecuniator App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Start with adding you CAMT052 XML files here!</p>
        <p>Then go to the "Sandbox" tab to get started</p>
      </ion-card-content>
    </ion-card>

    <ion-item>
      <ion-label>Add CAMT files</ion-label>
      <input type="file" multiple id="camtfiles" (change)="handleFileInput($event.target.files)">
    </ion-item>
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Current files</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button fill="outline" slot="end" type="button" (click)="clearCache()">Clear all</ion-button>
        <ion-item *ngFor="let filename of fileNames">{{filename}}</ion-item>
      </ion-card-content>
    </ion-card>

    <ion-list>
      <ion-item routerLink="/tabs/tab3" detail="true">
        <ion-label>Start scripting</ion-label>
        <ion-icon slot="start" name="code"></ion-icon>
      </ion-item>
      <ion-item routerLink="/tabs/tab2" detail="true">
        <ion-label>Show overview</ion-label>
        <ion-icon slot="start" name="apps"></ion-icon>
      </ion-item>
    </ion-list>
</ion-content>
