<ion-header>
  <ion-toolbar>
    <ion-title>
      Sandbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 600px">
    <ngx-monaco-editor style="height: 100%" (onInit)="onInit($event)" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  </div>

  <ion-card *ngIf="text && !error">
    <ion-card-title>
      Response
    </ion-card-title>
    <ion-card-content>
      {{text}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="error" style="color: red;">
    <ion-card-title>
      Script Error
    </ion-card-title>
    <ion-card-content>
      {{error}}
    </ion-card-content>
  </ion-card>

  <ion-button (click)="runScript()" type="button">Start sandbox script (F2)</ion-button>
  <ion-button (click)="addExample()" type="button" color="secondary">Add example file</ion-button>
  <ion-button routerLink="/tabs/tab1" color="secondary">Add files</ion-button>
</ion-content>
