<ion-header>
  <ion-toolbar>
    <ion-title>
      Sandbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 600px">
    <ngx-monaco-editor style="height: 100%" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  </div>

  <ion-card *ngIf="text">
    <ion-card>
      Response
    </ion-card>
    <ion-card-content>
      {{text}}
    </ion-card-content>
  </ion-card>


  <ion-button (click)="parseExample()">Start sandbox script</ion-button>
</ion-content>
