<ion-header>
  <ion-toolbar>
    <ion-title>
      Sandbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 600px">
    <ngx-monaco-editor style="height: 100%" (onInit)="onInit($event)" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
  </div>

  <ion-card *ngIf="text">
    <ion-card-title>
      Response
    </ion-card-title>
    <ion-card-content>
      {{text}}
    </ion-card-content>
  </ion-card>


  <ion-button (click)="parseExample()" type="button">Start sandbox script (F5)</ion-button>
  <ion-button (click)="addExample()" type="button">Add example file to storage</ion-button>
</ion-content>
